* {
    box-sizing: border-box;
}

.modelo {
    max-width: 83vw;
    min-width: 40vw;
    position: absolute;
    left: 20vw;
}

.contenedor {
    width: 77vw;
    margin: auto;
    position: absolute;
}

.tb {
    top: 5px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.title {
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.botones {
    background-color: rgba(0, 97, 104, 0.461);
    display: flex;
    justify-content: center;
}
.btn{
    margin: 10px;
}

#tblUsuario {
    border-collapse: collapse;
    width: 80%;
    height: 100%;
  }
  
  #tblUsuario th, #tblUsuario td {
    border: 1px solid #45e9ff;
    text-align: center;
  }
  
  #tblUsuario th {
    background-color: #338DFF;
    color: #fff;
  }
  
  #tblUsuario tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  #tblUsuario tbody tr:hover {
    background-color: #33daff42;
  }
















  #tblCliente {
    border-collapse: collapse;
    width: 80%;
    height: 100%;
  }
  
  #tblCliente th, #tblCliente td {
    border: 1px solid #45e9ff;
    text-align: center;
  }
  
  #tblCliente th {
    background-color: #338DFF;
    color: #fff;
  }
  
  #tblCliente tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  #tblCliente tbody tr:hover {
    background-color: #33daff42;
  }















  #tblCategoria {
    border-collapse: collapse;
    width: 80%;
    height: 100%;
  }
  
  #tblCategoria th, #tblCategoria td {
    border: 1px solid #45e9ff;
    text-align: center;
  }
  
  #tblCategoria th {
    background-color: #338DFF;
    color: #fff;
  }
  
  #tblCategoria tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  #tblCategoria tbody tr:hover {
    background-color: #33daff42;
  }
