* {
    box-sizing: border-box;
}

.modelo {
    max-width: 83vw;
    min-width: 40vw;
    position: absolute;
    margin-top: 5px;
    margin-left: 3vw;
    margin-right: 3vw;
    left: 17vw;
    top: 10vh;
}

.contenedor {
    width: 77vw;
    margin: auto;
    position: absolute;
}

/* CATEGORIA Y MEDIDA*/
.modelo1 {
  max-width: 83vw;
  min-width: 40vw;
  position: absolute;
  left: 17vw;
}
.contenedor1{
  margin-left: 16.5vw;
  margin-right: 16.5vw;
  width: 50vw;
  display: inline-block;
  padding: 0;
}

.contenedor2{
  margin-left: 26.5vw;
  margin-right: 26.5vw;
  width: 30vw;
  display: inline-block;
  padding: 0;
}







/* ------------------------*/
.tb {
    top: 5px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.title {
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.botones {
    background-color: rgba(0, 97, 104, 0.461);
    display: flex;
    justify-content: center;
}
.btn{
    margin-left: 5px;
    margin-right: 5px;
}

/* Encabezado */
.encabezado{
  background-color: #C2C2C2;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
}


/* TABLA USUARIO-CLIENTE-CATEGORIA-MEDIDA */
#tblUsuario #tblCliente #tblCategoria #tblMedida #tblProducto{
    border-collapse: collapse;
    width: 80%;
    height: 100%;
  }
  
  #tblUsuario th, #tblCliente th, #tblCategoria th, #tblMedida th, #tblProducto th, #tblUsuario td, #tblCliente td, #tblCategoria td, #tblMedida td, #tblProducto td{
    border: 1px solid #45e9ff;
    text-align: center;
  }
  
  #tblUsuario th, #tblCliente th, #tblCategoria th, #tblMedida th, #tblProducto th{
    background-color: #338DFF;
    color: #fff;
  }
  
  #tblUsuario tbody tr:nth-child(even), #tblCliente tbody tr:nth-child(even),  #tblCategoria tbody tr:nth-child(even), #tblMedida tbody tr:nth-child(even), #tblProducto tbody tr:nth-child(even){
    background-color: #f9f9f9;
  }
  
  #tblUsuario tbody tr:hover, #tblCliente tbody tr:hover, #tblCategoria tbody tr:hover, #tblMedida tbody tr:hover, #tblProducto tbody tr:hover{
    background-color: #33daff42;
  }
