*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/fondo.jpeg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;

}
.portada{
    font-family: 'Dancing Script', cursive;
    background-image: url(../img/portada.jpg);
    background-size: 100vw 100vh;
    width: 85vw;
    height: 15vh;
    left: 15vw;
    background-position: center center;
    position: relative;
}
.encabezado{
    color: #fff;
    display: inline-block;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    text-align: center;
}
.flotante{
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    height: 15vh;
    left: 25%;
    right: 25%;
}
.container-menu{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
}
.cont-menu{
    width: 15vw;
    background: #1c1c1c;
    height: 100vh;
    transition: all 500ms ease;
}
.imagen{
    background-image: url(../img/Paisaje.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    width: 15vw;
    height: 15vh;
    position: absolute;
}
.cont-menu nav{
    transform: translateY(15vh);
}
.cont-menu nav a{
    font-family: 'Dancing Script', cursive;
    display: block;
    text-decoration: none;
    padding: 25px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    color: #fff;
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.submit{
    padding-top: 20px;
    padding-left: 235px;
}



