* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.portada {
    font-family: 'Dancing Script', cursive;
    background-image: url(../img/portada.jpg);
    background-size: 100vw 100vh;
    width: 83vw;
    margin-left: 17vw;
    height: 10vh;
    background-position: center center;
    position: relative;
}

.container-menu {
    position: fixed;
    top: 0;
    left: 0;
    transition: all 500ms ease;
}

.cont-menu {
    width: 17vw;
    background: #172d44;
    height: 100vh;
    top: 0;
}

.imagen {
    background-image: url(../gift/fondos.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    width: 17vw;
    height: 10vh;
    position: fixed;
}

.cont-menu nav {
    transform: translateY(10vh);
}

.cont-menu nav a {
    font-family: 'Dancing Script', cursive;
    display: block;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 25px;
    font-size: 18px;
    padding-bottom: 25px;
    color: #fff;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    font-size: 19px;
    border-left: 5px solid blue;
    background: #2a3f54;
    color: #00ffff;
}

.submit {
    padding-top: 20px;
    padding-left: 235px;
}

i {
    margin: 10px;
}


@media (max-width: 1500px) {
    .cont-menu nav a {
        font-family: 'Dancing Script', cursive;
        display: block;
        text-decoration: none;
        font-size: 15px;
        padding-left: 7px;
        padding-top: 10px;
        color: #fff;
        border-left: 5px solid transparent;
        transition: all 500ms ease;
    }

    .cont-menu nav a:hover {
        font-size: 17px;
        border-left: 5px solid blue;
        background: #2a3f54;
        color: #00ffff;
    }
}

@media (max-width: 1250px) {
    .cont-menu nav a {
        font-family: 'Dancing Script', cursive;
        display: block;
        text-decoration: none;
        font-size: 15px;
        padding-left: 7px;
        padding-top: 10px;
        color: #fff;
        border-left: 5px solid transparent;
        transition: all 500ms ease;
    }

    .cont-menu nav a:hover {
        font-size: 16px;
        border-left: 5px solid blue;
        background:#2a3f54;
        color: #00ffff;
    }
}

@media (max-width: 1000px) {
    .cont-menu nav a {
        font-family: 'Dancing Script', cursive;
        display: block;
        text-decoration: none;
        font-size: 8px;
        padding: 3px;
        color: #fff;
        border-left: 5px solid transparent;
        transition: all 500ms ease;
    }

    .cont-menu nav a:hover {
        font-size: 9px;
        border-left: 5px solid blue;
        background:#2a3f54;
        color: #00ffff;
    }
}