    body {
        box-sizing: border-box;
    }
    h1{
        font-size: 40px;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
    }
    .modelo{
        width: 60vw;
        margin-left: 27.5vw;
    }
    .tb {
        top: 10px;
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        border-bottom: 2px solid rgb(0, 8, 255);
    }

    .contenido {
        color: rgb(0, 8, 255);
    }

    th {

        padding: 12px;
        text-align: left;
        border-bottom: 2px solid rgb(0, 8, 255);
    }

    tr {
        background-color: #00ffff;

    }