*{
    box-sizing: content-box;
}
.contenedor_formulario{
    background-color: #fff;
    width: 50vw;
    height: 70vh;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #00ff11;
    position:relative;
}
.contenido{
    margin-left: 25vw;
    text-align: center;
    border: 1px solid red;
    display: inline-block;
}
.formulario{
    margin: auto;

    color: #fff;
}
#input{
    color: black;
    padding: 5px;
}
.boton{
    text-align: center;
    padding: 5px 5px;
}
label{
    display: inline-block;
    width: 90px;
}
.tabla{
    border-collapse: collapse;
    border: none;
    margin: auto;
    width: auto;
    height: auto;
}
tr, td{
    color: black;
    border:1px solid #00076c;
    padding: 0;

}
p{
    background-color: rgba(255, 0, 0, 0.589);
    text-align: center;
    color: #fff;
}


